body {
    margin: 0;
    padding: 0;
}

main {
    color: red;
}

.p1 {
    font-weight:100;
}
.p2 {
    font-weight:bold;
}
.p3 {
    font-weight:bolder;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: aquamarine;
    height: 100px;
}

.producto{
    color: blue;
}
